@page "/javaScript"
@using Microsoft.AspNetCore.Blazor.Browser.Interop


<button onclick="@CallJavaScript">Click me!</button>

@functions{
    private void CallJavaScript()
    {
        RegisteredFunction.Invoke<Boolean>("say", "hello World");

}
}