@page "/prime"

@using System.Diagnostics

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" onclick="calculatePrime(10000)">Calculate primenumbers with JavaScript</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" onclick=@calcPrime>Calculate primenumbers with C#</button>
            </div>
        </div>
    </div>
</div>


@functions{


    private void calcPrime()
    {
        Stopwatch watch = new Stopwatch();
        watch.Start();
        for (var i = 0; i < 10000; i++)
        {
            isPrime(i);
        }
        watch.Stop();
        Console.WriteLine("C# :"+ watch.Elapsed.TotalSeconds);


    }


    private Boolean isPrime(int number)
    {
        for (int i = 2; i < number; i++)
        {
            if (number % i == 0)
                return false;
        }
        return true;

    }

}