@page "/ignoreDataBinding"
@using System.Threading;

<div>
    <p>Count: @Counter</p>
    <button onclick="@CountDown">Count down</button>
</div>

@functions{
    private int Counter = 10;

    private void CountDown()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            if (Counter > 0)
            {
                Counter--;
                this.StateHasChanged();
                
            }
        }), null, 1000, 1000);
       
    }

}
