@page "/features"
@layout MainLayout
<div class="row">
    <div class="col-md-3">
        <h5>Running on WebAssembly</h5>
    </div>
    <div class="col-md-3">
        <h5>Write your Code in C#</h5>
    </div>
    <div class="col-md-3">
        <h5>Reuse Code you always have written</h5>
    </div>
    <div class="col-md-3">
        <h5>Interact with JavaScript</h5>
    </div>
</div>

