<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">BspDataBinding</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/oneWayBinding">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> One Way binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/twoWayBinding">
                <span class="oi oi-loop" aria-hidden="true"></span> Two Way Binding
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
